<br/>
<h2> Welcome to my stocks portfolio app </h2>
<br/>
<h4>BSHCSDE4</h4>
<br/><br/>
<p> Please proceed to the sign up button on the navbar in order to create an account and log in. <br/>
Once logged in, the Navbar will update with the options to manage stocks.</p>

<% StockQuote::Stock.new(api_key: 'pk_f1efbd43a05e4190bd52e0d4a8d2e30a') %>



